body{
    margin:0;
    padding:0;
}
ul {
    list-style: none;
    background:rgb(51, 161, 51);
    text-align: left;
    position: relative;
    padding-top: 1px;
    
    }
    ul li {
    display: inline-block;
    position: relative;
    }
    ul li a {
    display: block;
    padding: 10px 15px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    height:20px;
    }
    ul li ul.dropdown li {
    display: block;
    background: #333;
    margin: 0px 0px;
    }
    ul li ul.dropdown {
    width:200%;
    background:none;
    position: absolute;
    z-index: 999;
    display: none;
    height: 10%;
    }
    ul li a:hover {
    background: rgb(59, 206, 59);
    }
    ul li:hover ul.dropdown{
    display: block;
    }
    img{
        position: relative;
        top:-18px;
    }